development:
  adapter: postgresql
  encoding: unicode
  database: development_belizesell
  host: localhost
  pool: 5
  username: luis
  password: rodge24

test:
  adapter: postgresql
  encoding: unicode
  database: test_belizesell
  host: localhost
  pool: 5
  username: luis
  password: rodge24

production:
  adapter: postgresql
  encoding: unicode
  database: production_belizesell
  host: localhost
  pool: 5
  username: luis
  password: rodge24